
    /* global */

*,*::before,
*::after{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}

.body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: #886239;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px 55px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.btn:hover{
    background-color: #6f4e2a
}


.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; 
}

.header__inner{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
}

.header__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 27px 0 24px;
    margin: 15px 0 50px;
}

.menu__btn{
    display: none;
}

.menu__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.phone{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.phone__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
    margin-right: 20px;
}

.phone__link{
    font-size: 16px;
    line-height: 130%;
    padding: 12px 30px;
    background-color: #886239;
    border-radius: 22px;
}

.header__title{
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    color:#fff;
    text-align: center;
    margin-bottom: auto;
}

.header__descr{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    max-width: 420px;
    margin-bottom: 20px;
}

.arrow{
    display: block;
    text-align: center;
}

.header__btn{
    margin-bottom: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.directions{
    padding: 100px 0;
}
.directions__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}
.directions__item-img {
    display: block;
}
.directions__item-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #1F1E1E;
    border: 1px solid #D9D9DE;
    border-top: 0 ;
    padding: 12px 0 19px 19px;
}
.travel-info{
    background-image: url(../images/travel-info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 30px 0 60px;
}

.travel-info__title{
    text-align: center;
}

.travel-info__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 53px 70px;
    margin-top: 50px;
}

.travel-info__item-img{
    margin-bottom: 15px;
}

.popular{
    padding-top: 100px 
}

.popular__title {
    text-align: center;
    margin-bottom: 40px;
    color: #1F1E1E;
}
.popular__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 100px;
    border-bottom: 1px solid #D9D9DE;
}

.popular__link{
    min-height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 16px 20px 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 130%;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-row: span 2;
    grid-column: span 2;
    min-height: 544px;
}

.popular__link:nth-child(3){
    padding-left: 30px;
    padding-right: 59px;
}

.popular__link:nth-child(6){
    padding-left: 33px;
    padding-right: 102px;
}

.popular__link-title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
}

.popular__link-title--big{
    font-size: 24px;
    line-height: 130%;
}

.popular__link-price {
    font-weight: 700;
    font-size: 16px;
}

.popular__link-country{
    margin-bottom: 15px;
}

.popular__link-duration{
    margin-bottom: auto;
}

.maps{
    padding: 100px 0;
}
.maps__title{
    margin-bottom: 25px;
    text-align: center;
}

.about{
    padding-bottom: 100px;
}

.about__inner{
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}

.about__title{
    margin-bottom: 25px;
}

.about__content-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
    margin-bottom: 35px;
}
.about__content-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #C4C4C4;
}
.about__popup {
    background-image: url(../images/about-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery{
    padding: 50px 0 105px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #886239;
}
.gallery__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.gallery__link{
    font-size: 16px;
    line-height: 19px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    margin-right: 160px;
}
.gallery__slider-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    position: relative;
}

.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}

.slick-prev{
    right: 60px;
}

.tour{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-size: 18px;
    padding: 100px 0;
}

.tour__title{
    margin-bottom: 77px;
    text-align: center;
}

.tour__content{
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
    padding-bottom: 56px;
    border-bottom: 1px solid #D9D9DE;
}
.tour__content-text{
    margin-bottom: 20px;
}
.tour__content-text span{
    font-weight: 700;
}
.tour__info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 44px 0 0 0;
    text-align: center;
}
.tour__info-item{
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 130%;
    color: #886239;
}
.tour__info-descr{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #1F1E1E;
}

.booking{
    padding: 75px 0 90px;
    margin: 0 auto;
    background-color: #EAEAEA
}

.booking__title{
    text-align: center;
    margin-bottom: 55px;
}

.booking__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 832px;
    margin: 0 auto;
}
.booking__form-input{
    width: 256px;
    height: 44px;
    padding: 12px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 130%;
}

.booking__form-input{
    margin-bottom: 28px;
    border: 1px solid #D9D9DE;
}

.booking__form-input::-webkit-input-placeholder, .booking__form-area::-webkit-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}

.booking__form-input::-moz-placeholder, .booking__form-area::-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}

.booking__form-input:-ms-input-placeholder, .booking__form-area:-ms-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}

.booking__form-input::-ms-input-placeholder, .booking__form-area::-ms-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}

.booking__form-input::placeholder,
.booking__form-area::placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}
.booking__form-area{
    width: 100%;
    height: 112px;
    margin-bottom: 67px;
    border: 1px solid #D9D9DE;
    padding: 15px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 130%;
}
.booking__btn {
}
.btn {
}
.booking__label{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 130%;
    color: #1F1E1E;
    text-decoration: underline;
}
.booking__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
}

.booking__checkbox-style{
    width: 26px;
    height: 26px;
    border: 2px solid #C4C4C4;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
}

.booking__checkbox:checked + .booking__checkbox-style::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #c4c4c4;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.footer{
    background-color: #1F1E1E;
    padding: 77px 0 80px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 150%;
}
.footer__logo{
    text-align: center;
    margin-bottom: 70px;
}

.footer__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 832px;
    margin: 0 auto;
}
.footer__info{
    width: 225px;
}
.footer__box-title{
    font-weight: 500;
    margin-bottom: 10px;
}

.footer__link{
    text-decoration: underline;
}
.footer__address{
    max-width: 165px;
}

.footer__contacts{
    max-width: 210px;
}
.footer__phone,
.footer__mail,
.footer__copy,
.footer__address-text{
    opacity: .8;
}
.footer__copy{
    margin-bottom: 5px;
}


        /* media */

@media(max-width: 1400px){

    .popular__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 15px;
    }

    .popular__link-title--big {
        font-size: 18px;
    }

    .popular__link:nth-child(3), 
    .popular__link:nth-child(6) {
        grid-row: span 1;
        grid-column: span 1;
        min-height: auto
    }

    .about__popup{
        min-height: 500px;
    }

    .about__inner {
        grid-template-columns: repeat(1, 1fr)
    }
    

}

@media(max-width: 1200px){

    .directions__inner{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .directions__item-img {
        display: block;
        width: 100%;
    }

    .travel-info__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .slick-slide img {
        width: 100%;
    }

    .gallery__slider-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .tour__content {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    }    
}

@media(max-width: 900px){
    
    .header__title{
        font-size: 60px;
    }
    
    .phone__text{
        display: none;
    }
   
    .header__top{
        display: block;
        text-align: center;
    }

    .phone__link{
        margin-top: 15px;
    }

    .menu{
        border: none;
    }

    .menu__btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: absolute;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 30px;
        top: 100px;
        right: 15px;
        z-index: 100;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .menu__btn::after,
    .menu__btn::before{
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .menu__btn::before{
        bottom: 0;
    }

    .menu__list{
        display: block;
        -webkit-transform: translateY(-1000%);
            -ms-transform: translateY(-1000%);
                transform: translateY(-1000%);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        position: absolute;
        background-color: #886239;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 150px;
    }

    .menu__list-item{
        padding: 35px 0;
    }

    .menu__list.menu__list--active{
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
    }

    .menu__btn--active span{
        display: none;
    }
    .menu__btn--active.menu__btn::after{
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        width: 40px;
    }
    .menu__btn--active.menu__btn::before{
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        margin-top: 25px;
        width: 40px;
    }

    .popular__inner{
        grid-template-columns: repeat(2, 1fr);
    }

    .title{
        font-size: 26px;
    }

    .tour__info{
        grid-template-columns: repeat(1, 1fr);
    }    

    .tour__info-item{
        margin-bottom: 25px;
    }

    .booking__form{
        padding: 0 50px;
    }

    .booking__form-input{
        width: 100%;
    }

    .booking__label{
        width: 100%;
    }

    .booking__btn{
        margin-bottom: 30px;
    }

    .booking__label{
        margin-left: 45px;
    }

    .footer__box{
        display: block;
        text-align: center;
    }

    .footer__address,
    .footer__info,
    .footer__contacts{
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;
    }

    .footer__logo{
        margin-bottom: 30px;
    }

}

@media(max-width: 700px){

    .directions__inner{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .directions,
    .popular,
    .maps,
    .gallery,
    .tour,
    .booking,
    .footer{
        padding: 50px 0;
    }

    .about{
        padding-bottom: 50px;
    }

    .popular__inner{
        padding-bottom: 50px;
    }

    .travel-info__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular__inner{
        grid-template-columns: repeat(1, 1fr);
    }

    .maps__item{
        height: 400px;
    }

    .about__popup{
        min-height: 300px;
    }

    .gallery__slider-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery__top{
        display: block;
    }

    .gallery__title{
        margin-bottom: 15px;
    }

    .slick-slide img {
        padding: 10px;
    }

    .tour__title {
        margin-bottom: 30px;
    }

    .booking__form {
        padding: 0 20px;
    }

}

@media(max-width: 400px){

    .directions__inner{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .travel-info__inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .travel-info__item{
        text-align: center;
    }

    .booking__form {
        padding: 0;
    }

}
